<div class="modal-dialog modal-lg">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">Lista de departamente</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            <table class="table table-striped table-hover">
                <thead class="thead-light">
                    <th>ID</th>
                    <th>Denumire</th>
                </thead>
                <tbody>
                <tr ng-repeat="departament in pc.listaDepartamente">
                    <td>{{departament.idDepartament}}</td>
                    <td>{{departament.denumire}}</td>
                </tr>
                </tbody>
            </table>
        </ul>
    </div>
    <div class="modal-footer">
        <!--        <button class="btn btn-primary" type="button" ng-click="pc.ok()">OK</button>-->
        <!--        <button class="btn btn-warning" type="button" ng-click="pc.cancel()">Cancel</button>-->
    </div>
</div>